<ion-view title="Identity" id="page6">
    <ion-content padding="true" class="has-header">
        <h4 id="logins-heading3" style="color:#53BCEE;text-align:center;">Add Identity</h4>
        <form  ng-submit="createId()">
          <div class="form-group">

             <label class="item item-input " id="logins-input2">
                <span class="input-label">Name</span>
               <input ng-model="identity.name" type="text" placeholder="Name" >
            </label>
            <label class="item item-input " id="logins-input2">
                <span class="input-label">Info</span>
                <input ng-model="identity.data" type="text" placeholder="Data">
            </label>
            </br>
            <button class="button button-block button-positive" type="submit">Submit</button>
          </div>
        </form>


    </ion-content>
</ion-view>
