<ion-view view-title="{{account.name}}">
  <ion-content>

    <div class="single-view">
  <img class="img-circle media-object pull-left" ng-src="{{getImg(identity.name)}}" width="48" height="48" />
    <h2 class="nameTitle"">{{identity.name}}</h2>

  <div class="inner-single" ng-hide="updateInfo">
    <h3>Details:</h3>
    <h5 class="highlightable">{{identity.data}}</h5>
    <button class="btn btn-large btn-default" ng-click="showForm()">Update Info</button>

    <h5>Created: {{identity.createdAt}}</h5>
    <h5>Last Updated: {{identity.lastUpdated}}</h5>
  </div>

  <div class="update-form" ng-show="updateInfo">
    <form ng-submit="changeInfo()">
      <div class="form-group">
        <label>Information to Update:</label>
        <input type="text" class="form-control" ng-model="newAccount.data">
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-form btn-positive">Update</button>
      </div>
    </form>
    <button class="btn btn-warning" ng-click="showForm()">Cancel</button>
  </div>
</div>

  </ion-content>
</ion-view>
