


<ion-view title="Logins" id="page6">
    <ion-content padding="true" class="has-header">
        <h4 id="logins-heading3" style="color:#53BCEE;text-align:center;">Add Login</h4>
        <form  ng-submit="createLogin()">
          <div class="form-group">

             <label class="item item-input " id="logins-input2">
                <span class="input-label">Name</span>
                <input ng-model="login.name" type="text" placeholder="">
            </label>
            <label class="item item-input " id="logins-input2">
                <span class="input-label">Username</span>
                <input ng-model="login.username" type="text" placeholder="">
            </label>
            <label class="item item-input " id="logins-input3">
                <span class="input-label">Password</span>
                <input ng-model="login.password" type="password" placeholder="">
            </label>
            <button class="button button-block button-positive" type="submit">Submit</button>
          </div>
        </form>



<button class="btn btn-primary" ng-click="generate()" ng-show="!gen"> Generate Random Password</button>
		<div ng-show="gen">
 <h5>Length</h5>
  <div class="range" id="green">
        <input type="range" name="syms" step="1" precision="1" ng-model="leng" translate="currencyFormatting" min="8" max="20">
 </div>
 <h5>Symbols</h5>
  <div class="range" id="green">
        <input type="range" name="syms" step="1" precision="1" ng-model="syms" translate="currencyFormatting" min="0" max="{{leng - nums}}">
 </div>
 <h5>Numbers</h5>
 <div class="range" id="green">
        <input type="range" name="syms" step="1" precision="1" ng-model="nums" translate="currencyFormatting" min="0" max="{{leng - syms}}">
 </div>

   <button class="btn btn-success" ng-click="generatePassword(leng, syms, nums)"> Generate! </button>
		</div>
	</br>

           </ion-content>
</ion-view>
