<ion-view title="Notes" id="page12">
    <ion-content padding="true" class="has-header">
        <h4 id="notes-heading9" style="color:#53BCEE;text-align:center;">Add</h4>
        <form id="notes-form4" class="list ">
            <label class="item item-input " id="notes-input10">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="notes-input11">
                <span class="input-label">Username</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input " id="notes-input12">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <h4 id="notes-heading10" style="color:#53BCEE;text-align:center;">Notes</h4>
        <a ui-sref="notedetails" id="notes-button15" class=" button button-calm  button-block ">Facebook</a>
        <a ui-sref="notedetails" id="notes-button16" class=" button button-calm  button-block ">Twitter</a>
    </ion-content>
</ion-view>