<!--
<ion-view view-title="Logins">
  <ion-content>
    <form ng-submit="checkMaster(master)">
    	<input ng-model="master" ></input>
    </form>
  </ion-content>
</ion-view>
 -->
<ion-view view-title="Logins">
  <ion-content>
    <form ng-submit="checkMaster(master)">
      <label class="item item-input">
         <span class="input-label">Password</span>
         <input ng-model="master" type="password">
      </label>
    </form>
    <button ng-show="dropboxAuthButton" ng-click="linkDropbox()" class="button button-full button-positive"><span class="icon icon-dropbox"></span>Connect To Dropbox</button>
    <ion-spinner ng-show="loading" icon="ripple"></ion-spinner>
    <div ng-show="error">
      {{error}}
    </div>
  </ion-content>
</ion-view>
