<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Reset Your Password</h1>
  </ion-header-bar>
  <ion-content>
    <h1>Try Not To Forget This One :)</h1>
    <form  ng-submit="checkMaster(master)">
      <label class="item item-input">
         <span class="input-label">New Password</span>
         <input ng-model="master1" type="password"/>
      </label>
      <label class="item item-input">
         <span class="input-label">Confirm Password</span>
         <input ng-model="master2" type="password"/>
      </label>
      <label class="item item-input">
         <span class="input-label">Confirm Again</span>
         <input ng-model="master3" type="password"/>
      </label>
    </form>
    <button ng-controller="recoverController" ng-click="changePassword(master1, master2, master3)" class="button button-full">Change Master Password</button>
  </ion-content>
</ion-modal-view>
