
<ion-view view-title="Logins">
  <ion-content>
    <div class="logo-and-lock-auth">
      <div class="lock-logo">
        <h1>CryptoPass</h1>
      </div>
      <div class="icon-lock">
        <div class="lock-top-1" style="background-color: #2CC3B5"></div>
        <div class="lock-top-2"></div>
        <div class="lock-body" style="background-color: #2CC3B5"></div>
        <div class="lock-hole"></div>
      </div>
    </div>
    <div class="auth-screen">
      <form  ng-submit="checkMaster(master)" ng-show="displayPasswordField">
        <label class="item item-input">
           <span class="input-label">Password</span>
           <input class="password-auth-input" ng-model="master" type="password">
        </label>
      </form>

      <form  ng-submit="setPassword(master1, master2, master3)" ng-show="firstLogin">
        <label class="item item-input">
           <span class="input-label">Set Password</span>
           <input ng-model="master1" type="password"/>
        </label>
        <label class="item item-input">
           <span class="input-label">Confirm Password</span>
           <input ng-model="master2" type="password"/>
        </label>
        <label class="item item-input">
           <span class="input-label">Confirm Again</span>
           <input ng-model="master3" type="password"/>
        </label>
        <button type="submit" class="button button-full">Set Master Password</button>
      </form>

      <div class="forgot-password-button-div">
        <button ng-show="showLostPasword" ng-controller="recoverController" ng-click="recoverBackup()" class="button button-full">Help I Forgot My Password!</button>
      </div>
      <div ng-show="dropboxAuthButton">
      <button ng-click="linkDropbox()" class="button button-full button-positive"><span class="icon icon-dropbox"></span>Connect To Dropbox</button>
      <input type="checkbox" ng-click="usedDb()"> <span> Check here if this is your first time using CryptoPass from your phone </span>
      </div>
      <div ng-show="error">
        {{error}}
      </div>
    </div>
    <div class="auth-spinner-div">
      <ion-spinner ng-show="loading" class="loading-gif"icon="ripple"></ion-spinner>
    </div>



  </ion-content>
</ion-view>
