
 <ion-view view-title="NoteSingle">
  <ion-content>
 <div class="single-view">
   <!--  <img class="img-circle media-object pull-left" ng-src="{{getImg(note.name)}}" width="48" height="48" /> -->
    <h2 class="nameTitle">{{note.name}}</h2>

  <div class="inner-single" ng-hide="updateInfo">
    <h3 Style="color:rgb(52, 148, 132)">Details:</h3>
    <p class="highlightable">{{note.data}}</p>
    <button class="btn btn-large btn-default updateButton" ng-click="showForm()">Update Info</button>

    <h5 class="createdUpdated">Created: {{note.createdAt}}</h5>
    <h5 class="createdUpdated">Last Updated: {{note.lastUpdated}}</h5>

  </div>

  <div class="update-form" ng-show="updateInfo">
    <form ng-submit="changeInfo()">
      <div class="form-group">
        <label>Note Name:</label>
        <input type="text" class="form-control" ng-model="newNote.name">
      </div>
      <div class="form-group">
        <label>Information to Update: </label>
        <textarea rows="4" type="text" class="form-control" ng-model="newNote.data"></textarea>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-form btn-positive okay">OK</button>
      </div>
    </form>
    <button class="btn btn-form btn-warning cancel" ng-click="showForm()">Cancel</button>
  </div>
</div>
  </ion-content>
</ion-view>