<ion-view view-title="Credit Cards">
  <ion-content>
  <div><input class="search" type="text" placeholder="search" ng-model="searchFilter"></div>
  <ul class="list single-state-list">
    <li class="item" ui-sref="app.creditCardSingle({id: account.id, accountData: account})" ng-repeat="account in accounts | filter: searchFilter track by account.id">
      <div>
        <h1 class="listInView">{{account.name}}<h1>
        <h3 class="listInViewPartText"> {{account.cardNumber.slice(0,16) + '...'}} </h3>
      </div>
    </li>
  </ul>
  </ion-content>
</ion-view>
