 <ion-view view-title={{account.name}}>
  <ion-content>
<div class="single-view">
  <img class="img-circle media-object pull-left" ng-src="{{getImg(account.name)}}" width="48" height="48" />
    <h2 class="nameTitle">{{account.name}}</h2>

  <div class="inner-single" ng-hide="updateInfo">
 
    <h4 class="highlightable"><span class="categories">Card Holder:</span> {{account.firstName}} {{account.lastName}}</h4>
    <h5 class="highlightable"><span class="categories">Credit Card Type:</span> {{account.type}}</h5>
    <h5 class="highlightable"><span class="categories">Account Number:</span> {{account.cardNumber}} <button class="copy-button btn btn-default" ng-click="copyText(account.cardNumber)">Copy</button></h5>
    <h5 class="highlightable"><span class="categories">Expiration Date:</span> {{account.expiration}}</h5>
    <h5 class="highlightable"><span class="categories">CCV:</span> {{account.ccv}} <button class="copy-button btn btn-default" ng-click="copyText(account.ccv)">Copy</button></h5>
    <button class="btn btn-large btn-default updateButton" ng-click="showForm()">Update Info</button>

    <h5 class="createdUpdated">Created: {{account.createdAt}}</h5>
    <h5 class="createdUpdated">Last Updated: {{account.lastUpdated}}</h5>

  </div>

  <div class="update-form" ng-show="updateInfo">
    <form ng-submit="changeInfo()">
      <div class="form-group">
        <label>Primary Account Holder:</label>
        <input type="text" class="form-control" ng-model="fullName">
      </div>
      <label></label>
      <select class="form-control" ng-model="updateCard">
        <option>Select Card Type</option>
        <option>Visa</option>
        <option>Mastercard</option>
        <option>American Express</option>
        <option>Discover</option>
      </select>
      <div class="form-group">
        <label>Card Name:</label>
        <input type="text" class="form-control" ng-model="newAccount.name">
      </div>
      <div class="form-group">
        <label>Credit Card Number:</label>
        <input type="text" class="form-control" ng-model="newAccount.cardNumber">
      </div>
      <div class="form-group">
        <label>Expiration Date:</label>
        <input type="text" class="form-control" ng-model="newAccount.expiration">
      </div>
      <div class="form-group">
        <label>CCV:</label>
        <input type="text" class="form-control" ng-model="newAccount.ccv">
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-form btn-positive">Update</button>
      </div>
    </form>
    <button type="submit" class="btn btn-warning" ng-click="showForm()">Cancel</button>

  </div>
</div>
  </ion-content>
</ion-view> 
