<ion-view title="Creditcards" id="page6">
    <ion-content padding="true" class="has-header">
        <h4 id="credit-heading3" style="color:#53BCEE;text-align:center;">Add</h4>
        <form  ng-submit="createCard()">
          <div class="form-group">

             <label class="item item-input " id="credit-input2">
                <span class="input-label">Card Name</span>
                <input ng-model="creditCard.name" type="text" placeholder="Account name">
            </label>
            <label class="item item-input " id="credit-input2">
                <span class="input-label">Card Number</span>
                <input ng-model="creditCard.cardNumber" maxlength="16" type="text" placeholder="Card Number">
            </label>
            <label class="item item-input " id="credit-input2">
                <span class="input-label">CCV</span>
                <input ng-model="creditCard.ccv" maxlength="4"  type="text" placeholder="CCV">
            </label>
            <label class="item item-input " id="credit-input3">
                <span class="input-label">Expiration</span>
                <input ng-model="creditCard.expiration" type="text" placeholder="Expiration">
            </label>
             <label class="item item-input " id="credit-input3">
                <span class="input-label">First Name</span>
                <input ng-model="creditCard.firstName" type="text" placeholder="First Name">
            </label>
            <label class="item item-input " id="credit-input3">
                <span class="input-label">Last Name</span>
               <input ng-model="creditCard.lastName" type="text" placeholder="Last Name">
            </label>
             <label class="item item-input " id="credit-input3">
                <span class="input-label">Type</span>
               <input ng-model="creditCard.type" type="text" placeholder="Type">
            </label>
            <button class="button button-block button-positive" type="submit">Submit</button>
          </div>
        </form>




           </ion-content>
</ion-view>
