
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #1bc2a2;
}

.dropdownUl {
  margin-right: -10px;
}

/*ul li {
  position: absolute;
}*/

.float{
  width: 100%;
}
.parentCategories {
  display: inline-block;
  position: relative;
  float: left;
  width: 24%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  border: black solid .5px;
  background: #1bc2a2;
}

li ul { display: none; }

ul li span {
  padding: 2px;
  display: block;
  border: solid black 1px;
  white-space: nowrap;
  color: #fff;
}
ul li span span {
  padding: none;
  border: none;
}
ul li span:hover { background: #2c3e50; }

li:hover > ul {
  display: block;
  position: absolute;
  width: 90%;
  text-transform: none;
}

/*li:hover li { float: none; }*/
/*li:hover a { background: #1bc2a2; }*/
/*li:hover li a:hover { background: #2c3e50; }*/
.main-navigation li ul li { border-top: 0; }


.auth-input {
  text-align: center;
  width: 75%;
  cursor: text;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(52, 148, 132);
  border-radius: 0;
  background-color: transparent;
  margin-bottom: 30px;
}

.bar {
  border: solid rgba(45, 149, 145, 0.9) .5px;
  margin-bottom: 10px;
  margin-top: -15px;
  opacity: .4
}
