<div>
  <h1 class="welcome">Welcome {{username}} </h1>
  <span class="parentCategories" ng-click="toAdd()"> <span>Add Login</span></span >
  <div class="bar"></div>
    <ul class="dropdownUL">
        <li class="parentCategories" ng-repeat="account in accounts">
            <p> {{account.category}} </p>
            <ul class="individual">
                <!-- put an ng-click on these hrefs which also auto submits forms possibly -->
                <li class="data-list-elements" ng-repeat="item in account.items" ng-hide="item.deleted" ng-click="autoFill(item.name, account.category, item.username)"><span> <span> {{item.name}}  </span> {{item.username || item.cardNumber || null}} </span></li>
            </ul>
        </li>
    </ul>
</div>
